{% extends "base.html" %}

{% block content %}
<div class="container">
	<h1 class="headline text-center">Cleaning by Jen</h1>
	<br>
	<br>
     <blockquote>
        Jen is very polite and respond positively to any requests or reminders. 
        My house shines and smells clean without heavy deodorizers. 
        She is always accommodating when I need to change my regular cleaning day. 
        If I have any issues, they are addressed immediately. I am very happy with Jen!!  
        <footer class="custom-footer">Kelli B, Macomb, Mi</footer>
    </blockquote>
	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" src="/static/img/livingroom1.JPG" alt="..." width="400" height="400">
	  </a>
	  <div class="media-body">
	    <h2 class="headline text-center">About Me</h2>
	    <p>
	    My name is Jen Jones.  This is my cleaning company.  I need some stuff about me to go here.  It can be personal, about the business.
	    Anything I want can go here.  This is a good place to tell people about myself.  I don't think a ton of information needs to go here
	    but this is showing how the text will layout.  Don't you like my picture?  
	    </p>
        <p>
        My name is Jen Jones.  This is my cleaning company.  I need some stuff about me to go here.  It can be personal, about the business.
        Anything I want can go here.  This is a good place to tell people about myself.  I don't think a ton of information needs to go here
        but this is showing how the text will layout.  Don't you like my picture?  
        </p>
        <p>
        My name is Jen Jones.  This is my cleaning company.  I need some stuff about me to go here.  It can be personal, about the business.
        Anything I want can go here.  This is a good place to tell people about myself.  I don't think a ton of information needs to go here
        but this is showing how the text will layout.  Don't you like my picture?  
        </p>
        <p>
        My name is Jen Jones.  This is my cleaning company.  I need some stuff about me to go here.  It can be personal, about the business.
        Anything I want can go here.  This is a good place to tell people about myself.  I don't think a ton of information needs to go here
        but this is showing how the text will layout.  Don't you like my picture?  
        </p>
	  </div>
	</div>
</div>
{% endblock %}