{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="headline text-center">Cleaning by Jen</h1>
    <br>
    <br>
     <blockquote>
        Jen far exceeded my expectations! Having a professional clean my new home saves me so much time and my house smells and looks fabulous! 
        Jen is very detailed orientated and does not miss a thing! 
        She is a hard worker and always does an amazing job each time she cleans. Thanks Jen! 
        <footer class="custom-footer">Jamie Y. Washington Twp, MI</footer>
    </blockquote>
    <br>
    <div class="media">
     <a class="pull-right" href="#">
       <img class="media-object" src="/static/img/oktobercat.png" alt="..." height="400" width="400">
     </a>
     <div class="media-body">
       <h2 class="headline">Frequently Asked Question</h2>
       <br>
        <dl>
   	        <dt class="custom-faq">What services do you offer?</dt>
   	        <dd>Windows, floors, dishes, bathrooms</dd>
   	    </dl>
        <dl>
            <dt class="custom-faq">What areas do you cover?</dt>
            <dd>Macomb and Oakland Counties</dd>
        </dl>
        <dl>
            <dt class="custom-faq">Do you have any references I can contact?</dt>
            <dd>Sure, they are available upon request</dd>
        </dl>
        <dl>
            <dt class="custom-faq">Will you come let me dog out?</dt>
            <dd>Sure, if you pay me and I don't get bit</dd>
        </dl>
        <dl>
            <dt class="custom-faq">How much do you charge?</dt>
            <dd>It depends on the service and the size of the house.  <a href="/contact"> Contact me</a> for a quote!</dd>
       </dl>
      </div>
</div>
    
</div>
{% endblock %}