{% extends "base.html" %}

{% block carousel %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/img/floor.jpg"  alt="First slide">
          <!--<div class="slide1"></div>-->
          <div class="container">
            <div class="carousel-caption">
              <h1 >Cleaning by Jen</h1>
              <p>Jen is very polite and respond positively to any requests or reminders. 
                 My house shines and smells clean without heavy deodorizers. 
                 She is always accommodating when I need to change my regular cleaning day. 
                 If I have any issues, they are addressed immediately. I am very happy with Jen!!  Kelli B, Macomb, Mi</p>
              <p><a class="btn btn-lg btn-info active" href="/contact" role="button">Contact me today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/mall.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>I offer a variety of services and service areas!</h1>
              <p>Jen far exceeded my expectations! Having a professional clean my new home saves me so much time and my house smells and looks fabulous! 
                 Jen is very detailed orientated and does not miss a thing! 
                 She is a hard worker and always does an amazing job each time she cleans. Thanks Jen! -Jamie Y. Washington Twp, MI
              </p>
              <p><a class="btn btn-lg btn-info active" href="/services" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/closet.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Answers to common questions!.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-info active" href="/faq" role="button">Visit the FAQ</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="headline text-center">Cleaning by Jen</h1>
	    <div class="row">
		    <div class="col-md-4">
		       <h3 class="headline">Services and Area</h3>
		       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		       Cras at libero vel nibh ultrices pulvinar. Suspendisse potenti. 
		       Phasellus ligula nibh, pretium eu dignissim vitae, venenatis id ante. 
		       Duis id suscipit eros. Phasellus eu malesuada tortor, et vestibulum nisi. 
		       Maecenas ultricies nibh ac euismod porttitor. In adipiscing adipiscing lobortis. </p>
		       <a href="/services" class="btn btn-info btn-lg active" role="button">Services</a>
		    </div>
           <div class="col-md-4">
              <h3 class="headline">Contact Me</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Cras at libero vel nibh ultrices pulvinar. Suspendisse potenti. 
              Phasellus ligula nibh, pretium eu dignissim vitae, venenatis id ante. 
              Duis id suscipit eros. Phasellus eu malesuada tortor, et vestibulum nisi. 
              Maecenas ultricies nibh ac euismod porttitor. In adipiscing adipiscing lobortis. </p>
              <a href="/contact" class="btn btn-info btn-lg active" role="button">Contact Me!</a>
           </div>
           <div class="col-md-4">
              <h3 class="headline">About Me</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Cras at libero vel nibh ultrices pulvinar. Suspendisse potenti. 
              Phasellus ligula nibh, pretium eu dignissim vitae, venenatis id ante. 
              Duis id suscipit eros. Phasellus eu malesuada tortor, et vestibulum nisi. 
              Maecenas ultricies nibh ac euismod porttitor. In adipiscing adipiscing lobortis. </p>
              <a href="/about" class="btn btn-info btn-lg active" role="button">About</a>
           </div>
	    </div>
    </div>
{% endblock %}