{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="headline text-center">Cleaning by Jen</h1>
    <br>
    <br>
     <blockquote>
        Jen far exceeded my expectations! Having a professional clean my new home saves me so much time and my house smells and looks fabulous! 
        Jen is very detailed orientated and does not miss a thing! 
        She is a hard worker and always does an amazing job each time she cleans. Thanks Jen! 
        <footer class="custom-footer">Jamie Y. Washington Twp, MI</footer>
    </blockquote>
    <br>
    <br>
    <div class="panel panel-default">
        <div class="custom-panel-heading">
            <h3 class="custom-panel-title text-center">Services</h3>
        </div>
        <div class="custom-panel-body text-center">
            These are just some of the fantastic services I offer, contact me for any additional requests.
        </div>
        <table class="table custom-panel-table">
            <tr>
                <td>Windows</td>
                <td>Laundry</td>
                <td>Dishes</td>
            </tr>
            <tr>
                <td>Dusting</td>
                <td>Mopping</td>
                <td>Sweeping</td>
            </tr>
            <tr>
                <td>Bathrooms</td>
                <td>Wash Walls</td>
                <td>Wash Baseboards</td>
            </tr>
            <tr>
                <td>Cupboards</td>
                <td>Water Plants</td>
                <td>Carpet Cleaning</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}