{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="headline text-center">Cleaning by Jen</h1>
    <br>
    <br>
     <blockquote>
        Jen is very polite and respond positively to any requests or reminders. 
        My house shines and smells clean without heavy deodorizers. 
        She is always accommodating when I need to change my regular cleaning day. 
        If I have any issues, they are addressed immediately. I am very happy with Jen!!  
        <footer class="custom-footer">Kelli B, Macomb, Mi</footer>
    </blockquote>
    {{myemail}}
    <br>
    {{mysend}}
    <br>
    {{myname}}
    <br>
    {{comments}}
    <br>
    
</div>
{% endblock %}